# Project 3: Population Density in Flood Hazard Zones

The aim of this notebook is to calculate, based on values computed in QGIS, what percentage of high-risk flood areas in Germany are unpopulated / rural / urban / urban centers.

In [1]:
import pandas as pd

## Baden-Württemberg

In [117]:
df_bw = pd.read_csv("BadenWurttemberg_UniqueValues.csv")

In [3]:
df_bw['total_area'] = sum(df_bw['m2'])

In [4]:
df_bw['percentage'] = df_bw.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [5]:
df_bw['state'] = "Baden-Württemberg"
df_bw

   value  count           m2   total_area  percentage              state
0    0.0  43207  432070000.0  590190000.0    0.732086  Baden-Württemberg
1    1.0   9428   94280000.0  590190000.0    0.159745  Baden-Württemberg
2    2.0   4743   47430000.0  590190000.0    0.080364  Baden-Württemberg
3    3.0   1641   16410000.0  590190000.0    0.027805  Baden-Württemberg

## Bayern

In [6]:
df_by = pd.read_csv("Bayern_UniqueValues.csv")

In [7]:
df_by['total_area'] = sum(df_by['m2'])

In [8]:
df_by['percentage'] = df_by.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [9]:
df_by['state'] = "Bavaria"

In [10]:
df_by

   value  count           m2   total_area  percentage    state
0    0.0  69862  698620000.0  873340000.0    0.799940  Bavaria
1    1.0  12202  122020000.0  873340000.0    0.139716  Bavaria
2    2.0   4355   43550000.0  873340000.0    0.049866  Bavaria
3    3.0    915    9150000.0  873340000.0    0.010477  Bavaria

## Berlin

In [11]:
df_ber = pd.read_csv("Berlin_UniqueValues.csv")

In [12]:
df_ber['total_area'] = sum(df_ber['m2'])

In [13]:
df_ber['percentage'] = df_ber.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [14]:
df_ber['state'] = "Berlin"

In [15]:
df_ber

   value  count         m2  total_area  percentage   state
0    0.0    169  1690000.0   2260000.0    0.747788  Berlin
1    1.0     29   290000.0   2260000.0    0.128319  Berlin
2    2.0     17   170000.0   2260000.0    0.075221  Berlin
3    3.0     11   110000.0   2260000.0    0.048673  Berlin

## Brandenburg

In [16]:
df_br = pd.read_csv("Brandenburg_UniqueValues.csv")

In [17]:
df_br['total_area'] = sum(df_br['m2'])

In [18]:
df_br['percentage'] = df_br.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [19]:
df_br['state'] = "Brandenburg"

In [20]:
df_br

   value  count           m2   total_area  percentage        state
0    0.0  85105  851050000.0  916070000.0    0.929023  Brandenburg
1    1.0   5284   52840000.0  916070000.0    0.057681  Brandenburg
2    2.0   1114   11140000.0  916070000.0    0.012161  Brandenburg
3    3.0    104    1040000.0  916070000.0    0.001135  Brandenburg

## Bremen

In [21]:
df_bre = pd.read_csv("Bremen_UniqueValues.csv")

In [22]:
df_bre['total_area'] = sum(df_bre['m2'])

In [23]:
df_bre['percentage'] = df_bre.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [24]:
df_bre['state'] = "Bremen"

In [25]:
df_bre

   value  count         m2  total_area  percentage   state
0    0.0    735  7350000.0  10040000.0    0.732072  Bremen
1    1.0    170  1700000.0  10040000.0    0.169323  Bremen
2    2.0     72   720000.0  10040000.0    0.071713  Bremen
3    3.0     27   270000.0  10040000.0    0.026892  Bremen

## Hamburg

In [26]:
df_hh = pd.read_csv("Hamburg_UniqueValues.csv")

In [27]:
df_hh['total_area'] = sum(df_hh['m2'])

In [28]:
df_hh['percentage'] = df_hh.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [29]:
df_hh['state'] = "Hamburg"

In [30]:
df_hh

   value  count         m2  total_area  percentage    state
0    0.0    335  3350000.0   6180000.0    0.542071  Hamburg
1    1.0    178  1780000.0   6180000.0    0.288026  Hamburg
2    2.0     84   840000.0   6180000.0    0.135922  Hamburg
3    3.0     21   210000.0   6180000.0    0.033981  Hamburg

## Hessen

In [31]:
df_hes = pd.read_csv("Hessen_UniqueValues.csv")

In [32]:
df_hes['total_area'] = sum(df_hes['m2'])

In [33]:
df_hes['percentage'] = df_hes.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [34]:
df_hes['state'] = "Hesse"

In [35]:
df_hes

   value  count           m2   total_area  percentage  state
0    0.0  39627  396270000.0  495020000.0    0.800513  Hesse
1    1.0   6397   63970000.0  495020000.0    0.129227  Hesse
2    2.0   2642   26420000.0  495020000.0    0.053372  Hesse
3    3.0    836    8360000.0  495020000.0    0.016888  Hesse

## Mecklenburg-Vorpommern

In [36]:
df_meck = pd.read_csv("MecklenburgVorpommern_UniqueValues.csv")

In [37]:
df_meck['total_area'] = sum(df_meck['m2'])

In [38]:
df_meck['percentage'] = df_meck.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [39]:
df_meck['state'] = "Mecklenburg-Western Pomerania"

In [40]:
df_meck

,value,count,m2,total_area,percentage,state
0,0.0,22318,223180000.0,233020000.0,0.957772,Mecklenburg-Western Pomerania
1,1.0,788,7880000.0,233020000.0,0.033817,Mecklenburg-Western Pomerania
2,2.0,171,1710000.0,233020000.0,0.007338,Mecklenburg-Western Pomerania
3,3.0,25,250000.0,233020000.0,0.001073,Mecklenburg-Western Pomerania

## Niedersachsen

In [41]:
df_n = pd.read_csv("Niedersachsen_UniqueValues.csv")

In [42]:
df_n['total_area'] = sum(df_n['m2'])

In [43]:
df_n['percentage'] = df_n.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [44]:
df_n['state'] = "Lower Saxony"

In [45]:
df_n

   value   count            m2    total_area  percentage         state
0    0.0  120768  1.207680e+09  1.355580e+09    0.890895  Lower Saxony
1    1.0   11090  1.109000e+08  1.355580e+09    0.081810  Lower Saxony
2    2.0    3081  3.081000e+07  1.355580e+09    0.022728  Lower Saxony
3    3.0     619  6.190000e+06  1.355580e+09    0.004566  Lower Saxony

## Nordrhein-Westfalen

In [46]:
df_nrw = pd.read_csv("NordrheinWestfalen_UniqueValues.csv")

In [47]:
df_nrw['total_area'] = sum(df_nrw['m2'])

In [48]:
df_nrw['percentage'] = df_nrw.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [49]:
df_nrw['state'] = "North Rhine-Westphalia"

In [50]:
df_nrw

,value,count,m2,total_area,percentage,state
0,0.0,109079,1.090790e+09,1.535340e+09,0.710455,North Rhine-Westphalia
1,1.0,24519,2.451900e+08,1.535340e+09,0.159698,North Rhine-Westphalia
2,2.0,11640,1.164000e+08,1.535340e+09,0.075814,North Rhine-Westphalia
3,3.0,8296,8.296000e+07,1.535340e+09,0.054034,North Rhine-Westphalia

## Rheinland-Pfalz

In [51]:
df_rp = pd.read_csv("RheinlandPfalz_UniqueValues.csv")

In [52]:
df_rp['total_area'] = sum(df_rp['m2'])

In [53]:
df_rp['percentage'] = df_rp.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [54]:
df_rp['state'] = "Rhineland-Palatinate"

In [55]:
df_rp

   value  count           m2   total_area  percentage                 state
0    0.0  24707  247070000.0  359750000.0    0.686782  Rhineland-Palatinate
1    1.0   6841   68410000.0  359750000.0    0.190160  Rhineland-Palatinate
2    2.0   3213   32130000.0  359750000.0    0.089312  Rhineland-Palatinate
3    3.0   1214   12140000.0  359750000.0    0.033746  Rhineland-Palatinate

## Saarland

In [63]:
df_saar = pd.read_csv("Saarland_UniqueValues.csv")

In [64]:
new_row_1 = pd.DataFrame({'value': [1.0], 'count': [0], 'm2': [0],'total_area': [0], 'percentage': [0]})
new_row_2 = pd.DataFrame({'value': [2.0], 'count': [0], 'm2': [0],'total_area': [0], 'percentage': [0]})
new_row_3 = pd.DataFrame({'value': [3.0], 'count': [0], 'm2': [0],'total_area': [0], 'percentage': [0]})
df_saar = pd.concat([df_saar, new_row_1, new_row_2, new_row_3])

In [65]:
df_saar['total_area'] = sum(df_saar['m2'])

In [66]:
df_saar['percentage'] = df_saar.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [67]:
df_saar['state'] = "Saarland"

In [68]:
df_saar

   value  count        m2  total_area  percentage     state
0    0.0     11  110000.0    110000.0         1.0  Saarland
0    1.0      0       0.0    110000.0         0.0  Saarland
0    2.0      0       0.0    110000.0         0.0  Saarland
0    3.0      0       0.0    110000.0         0.0  Saarland

## Sachsen

In [69]:
df_sac = pd.read_csv("Sachsen_UniqueValues.csv")

In [70]:
df_sac['total_area'] = sum(df_sac['m2'])

In [71]:
df_sac['percentage'] = df_sac.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [72]:
df_sac['state'] = "Saxony"

In [73]:
df_sac

   value  count           m2   total_area  percentage   state
0    0.0  26583  265830000.0  347980000.0    0.763923  Saxony
1    1.0   4976   49760000.0  347980000.0    0.142997  Saxony
2    2.0   2538   25380000.0  347980000.0    0.072935  Saxony
3    3.0    701    7010000.0  347980000.0    0.020145  Saxony

## Sachsen-Anhalt

In [74]:
df_sa = pd.read_csv("SachsenAnhalt_UniqueValues.csv")

In [75]:
df_sa['total_area'] = sum(df_sa['m2'])

In [76]:
df_sa['percentage'] = df_sa.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [77]:
df_sa['state'] = "Saxony-Anhalt"

In [78]:
df_sa

   value  count           m2   total_area  percentage          state
0    0.0  85854  858540000.0  942060000.0    0.911343  Saxony-Anhalt
1    1.0   6775   67750000.0  942060000.0    0.071917  Saxony-Anhalt
2    2.0   1354   13540000.0  942060000.0    0.014373  Saxony-Anhalt
3    3.0    223    2230000.0  942060000.0    0.002367  Saxony-Anhalt

## Schleswig-Holstein

In [79]:
df_sh = pd.read_csv("SchleswigHolstein_UniqueValues.csv")

In [80]:
df_sh['total_area'] = sum(df_sh['m2'])

In [81]:
df_sh['percentage'] = df_sh.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [82]:
df_sh['state'] = "Schleswig-Holstein"

In [83]:
df_sh

   value  count          m2  total_area  percentage               state
0    0.0   6801  68010000.0  79330000.0    0.857305  Schleswig-Holstein
1    1.0    808   8080000.0  79330000.0    0.101853  Schleswig-Holstein
2    2.0    269   2690000.0  79330000.0    0.033909  Schleswig-Holstein
3    3.0     55    550000.0  79330000.0    0.006933  Schleswig-Holstein

## Thüringen

In [84]:
df_t = pd.read_csv("Thuringen_UniqueValues.csv")

In [85]:
df_t['total_area'] = sum(df_t['m2'])

In [86]:
df_t['percentage'] = df_t.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [87]:
df_t['state'] = "Thuringia"

In [88]:
df_t

   value  count           m2   total_area  percentage      state
0    0.0  23635  236350000.0  307540000.0    0.768518  Thuringia
1    1.0   4327   43270000.0  307540000.0    0.140697  Thuringia
2    2.0   2156   21560000.0  307540000.0    0.070105  Thuringia
3    3.0    636    6360000.0  307540000.0    0.020680  Thuringia

## Whole Germany

In [96]:
df_ger = pd.read_csv("Germany_UniqueValues.csv")

In [97]:
df_ger['total_area'] = sum(df_ger['m2'])

In [99]:
df_ger['percentage'] = df_ger.apply(lambda row: row['m2'] / row['total_area'],axis=1)

In [100]:
df_ger = df_ger.drop(columns=['count','m2','total_area'])

In [101]:
df_ger['value'] = df_ger['value'].replace({0.0: 'No Population', 1.0: 'Rural Area', 2.0: 'Urban Area', 3.0: 'Urban Center'})

In [102]:
df_ger['percentage'] = df_ger['percentage']*100

In [103]:
df_ger

           value  percentage
0  No Population   82.018525
1     Rural Area   11.508036
2     Urban Area    4.593622
3   Urban Center    1.879817

In [104]:
df_ger.to_csv("wholegermany.csv", index=False)

# Bind the Datasets together

In [105]:
df = pd.concat([df_bw, df_by, df_ber, df_br, df_bre, df_hh, df_hes, df_meck, df_nrw, df_n, df_rp, df_saar, df_sac, df_sa, df_sh, df_t])

In [106]:
df

    value  count           m2   total_area  percentage               state
0     0.0  43207  432070000.0  590190000.0    0.732086   Baden-Württemberg
1     1.0   9428   94280000.0  590190000.0    0.159745   Baden-Württemberg
2     2.0   4743   47430000.0  590190000.0    0.080364   Baden-Württemberg
3     3.0   1641   16410000.0  590190000.0    0.027805   Baden-Württemberg
0     0.0  69862  698620000.0  873340000.0    0.799940             Bavaria
..    ...    ...          ...          ...         ...                 ...
3     3.0     55     550000.0   79330000.0    0.006933  Schleswig-Holstein
0     0.0  23635  236350000.0  307540000.0    0.768518           Thuringia
1     1.0   4327   43270000.0  307540000.0    0.140697           Thuringia
2     2.0   2156   21560000.0  307540000.0    0.070105           Thuringia
3     3.0    636    6360000.0  307540000.0    0.020680           Thuringia

[64 rows x 6 columns]

In [107]:
df_nopop = df[df['value']==0.0].sort_values(by="percentage")
df_nopop['value'] = "No Population"
df_nopop['percentage'] = df_nopop['percentage']*100
df_nopop

,value,count,m2,total_area,percentage,state
0,No Population,335,3.350000e+06,6.180000e+06,54.207120,Hamburg
0,No Population,24707,2.470700e+08,3.597500e+08,68.678249,Rhineland-Palatinate
0,No Population,109079,1.090790e+09,1.535340e+09,71.045501,North Rhine-Westphalia
0,No Population,735,7.350000e+06,1.004000e+07,73.207171,Bremen
0,No Population,43207,4.320700e+08,5.901900e+08,73.208628,Baden-Württemberg
0,No Population,169,1.690000e+06,2.260000e+06,74.778761,Berlin
0,No Population,26583,2.658300e+08,3.479800e+08,76.392321,Saxony
0,No Population,23635,2.363500e+08,3.075400e+08,76.851792,Thuringia
0,No Population,69862,6.986200e+08,8.733400e+08,79.994046,Bavaria
0,No Population,39627,3.962700e+08,4.950200e+08,80.051311,Hesse
0,No Population,6801,6.801000e+07,7.933000e+07,85.730493,Schleswig-Holstein
0,No Population,120768,1.207680e+09,1.355580e+09,89.089541,Lower Saxony
0,No Population,85854,8.585400e+08,9.420600e+08,91.134323,Saxony-Anhalt
0,No Population,85105,8.510500e+08,9.160700e+08,92.902289,Brandenburg
0,No Population,22318,2.231800e+08,2.330200e+08,95.777187,Mecklenburg-Western Pomerania
0,No Population,11,1.100000e+05,1.100000e+05,100.000000,Saarland

In [108]:
df_rural = df[df['value']==1.0].sort_values(by="percentage")
df_rural['value'] = "Rural Area"
df_rural['percentage'] = df_rural['percentage']*100
df_rural

,value,count,m2,total_area,percentage,state
0,Rural Area,0,0.0,1.100000e+05,0.000000,Saarland
1,Rural Area,788,7880000.0,2.330200e+08,3.381684,Mecklenburg-Western Pomerania
1,Rural Area,5284,52840000.0,9.160700e+08,5.768118,Brandenburg
1,Rural Area,6775,67750000.0,9.420600e+08,7.191686,Saxony-Anhalt
1,Rural Area,11090,110900000.0,1.355580e+09,8.181000,Lower Saxony
1,Rural Area,808,8080000.0,7.933000e+07,10.185302,Schleswig-Holstein
1,Rural Area,29,290000.0,2.260000e+06,12.831858,Berlin
1,Rural Area,6397,63970000.0,4.950200e+08,12.922710,Hesse
1,Rural Area,12202,122020000.0,8.733400e+08,13.971649,Bavaria
1,Rural Area,4327,43270000.0,3.075400e+08,14.069715,Thuringia
1,Rural Area,4976,49760000.0,3.479800e+08,14.299672,Saxony
1,Rural Area,24519,245190000.0,1.535340e+09,15.969753,North Rhine-Westphalia
1,Rural Area,9428,94280000.0,5.901900e+08,15.974517,Baden-Württemberg
1,Rural Area,170,1700000.0,1.004000e+07,16.932271,Bremen
1,Rural Area,6841,68410000.0,3.597500e+08,19.015983,Rhineland-Palatinate
1,Rural Area,178,1780000.0,6.180000e+06,28.802589,Hamburg

In [109]:
df_urb = df[df['value']==2.0].sort_values(by="percentage")
df_urb['value'] = "Urban Clusters"
df_urb['percentage'] = df_urb['percentage']*100
df_urb

,value,count,m2,total_area,percentage,state
0,Urban Clusters,0,0.0,1.100000e+05,0.000000,Saarland
2,Urban Clusters,171,1710000.0,2.330200e+08,0.733843,Mecklenburg-Western Pomerania
2,Urban Clusters,1114,11140000.0,9.160700e+08,1.216064,Brandenburg
2,Urban Clusters,1354,13540000.0,9.420600e+08,1.437276,Saxony-Anhalt
2,Urban Clusters,3081,30810000.0,1.355580e+09,2.272828,Lower Saxony
2,Urban Clusters,269,2690000.0,7.933000e+07,3.390899,Schleswig-Holstein
2,Urban Clusters,4355,43550000.0,8.733400e+08,4.986603,Bavaria
2,Urban Clusters,2642,26420000.0,4.950200e+08,5.337158,Hesse
2,Urban Clusters,2156,21560000.0,3.075400e+08,7.010470,Thuringia
2,Urban Clusters,72,720000.0,1.004000e+07,7.171315,Bremen
2,Urban Clusters,2538,25380000.0,3.479800e+08,7.293523,Saxony
2,Urban Clusters,17,170000.0,2.260000e+06,7.522124,Berlin
2,Urban Clusters,11640,116400000.0,1.535340e+09,7.581383,North Rhine-Westphalia
2,Urban Clusters,4743,47430000.0,5.901900e+08,8.036395,Baden-Württemberg
2,Urban Clusters,3213,32130000.0,3.597500e+08,8.931202,Rhineland-Palatinate
2,Urban Clusters,84,840000.0,6.180000e+06,13.592233,Hamburg

In [110]:
df_center = df[df['value']==3.0].sort_values(by="percentage")
df_center['value'] = "Urban Center"
df_center['percentage'] = df_center['percentage']*100
df_center

,value,count,m2,total_area,percentage,state
0,Urban Center,0,0.0,1.100000e+05,0.000000,Saarland
3,Urban Center,25,250000.0,2.330200e+08,0.107287,Mecklenburg-Western Pomerania
3,Urban Center,104,1040000.0,9.160700e+08,0.113528,Brandenburg
3,Urban Center,223,2230000.0,9.420600e+08,0.236715,Saxony-Anhalt
3,Urban Center,619,6190000.0,1.355580e+09,0.456631,Lower Saxony
3,Urban Center,55,550000.0,7.933000e+07,0.693306,Schleswig-Holstein
3,Urban Center,915,9150000.0,8.733400e+08,1.047702,Bavaria
3,Urban Center,836,8360000.0,4.950200e+08,1.688821,Hesse
3,Urban Center,701,7010000.0,3.479800e+08,2.014484,Saxony
3,Urban Center,636,6360000.0,3.075400e+08,2.068024,Thuringia
3,Urban Center,27,270000.0,1.004000e+07,2.689243,Bremen
3,Urban Center,1641,16410000.0,5.901900e+08,2.780461,Baden-Württemberg
3,Urban Center,1214,12140000.0,3.597500e+08,3.374566,Rhineland-Palatinate
3,Urban Center,21,210000.0,6.180000e+06,3.398058,Hamburg
3,Urban Center,11,110000.0,2.260000e+06,4.867257,Berlin
3,Urban Center,8296,82960000.0,1.535340e+09,5.403363,North Rhine-Westphalia

In [111]:
df_all = pd.concat([df_nopop, df_rural, df_urb, df_center])
df_all

,value,count,m2,total_area,percentage,state
0,No Population,335,3.350000e+06,6.180000e+06,54.207120,Hamburg
0,No Population,24707,2.470700e+08,3.597500e+08,68.678249,Rhineland-Palatinate
0,No Population,109079,1.090790e+09,1.535340e+09,71.045501,North Rhine-Westphalia
0,No Population,735,7.350000e+06,1.004000e+07,73.207171,Bremen
0,No Population,43207,4.320700e+08,5.901900e+08,73.208628,Baden-Württemberg
...,...,...,...,...,...,...
3,Urban Center,1641,1.641000e+07,5.901900e+08,2.780461,Baden-Württemberg
3,Urban Center,1214,1.214000e+07,3.597500e+08,3.374566,Rhineland-Palatinate
3,Urban Center,21,2.100000e+05,6.180000e+06,3.398058,Hamburg
3,Urban Center,11,1.100000e+05,2.260000e+06,4.867257,Berlin
3,Urban Center,8296,8.296000e+07,1.535340e+09,5.403363,North Rhine-Westphalia

In [112]:
df_total_populated = df_all[df_all['value']!='No Population'].groupby('state')['m2'].sum().sort_values()
df_total_populated

state
Saarland                                 0.0
Berlin                              570000.0
Bremen                             2690000.0
Hamburg                            2830000.0
Mecklenburg-Western Pomerania      9840000.0
Schleswig-Holstein                11320000.0
Brandenburg                       65020000.0
Thuringia                         71190000.0
Saxony                            82150000.0
Saxony-Anhalt                     83520000.0
Hesse                             98750000.0
Rhineland-Palatinate             112680000.0
Lower Saxony                     147900000.0
Baden-Württemberg                158120000.0
Bavaria                          174720000.0
North Rhine-Westphalia           444550000.0
Name: m2, dtype: float64

In [113]:
df_pivot = df_all.pivot(index='state', columns='value', values='percentage')

In [115]:
df_pivot = df_pivot[['No Population', 'Rural Area','Urban Clusters', 'Urban Center']]
df_pivot

value,No Population,Rural Area,Urban Clusters,Urban Center
state,,,,
Baden-Württemberg,73.208628,15.974517,8.036395,2.780461
Bavaria,79.994046,13.971649,4.986603,1.047702
Berlin,74.778761,12.831858,7.522124,4.867257
Brandenburg,92.902289,5.768118,1.216064,0.113528
Bremen,73.207171,16.932271,7.171315,2.689243
Hamburg,54.207120,28.802589,13.592233,3.398058
Hesse,80.051311,12.922710,5.337158,1.688821
Lower Saxony,89.089541,8.181000,2.272828,0.456631
Mecklenburg-Western Pomerania,95.777187,3.381684,0.733843,0.107287
North Rhine-Westphalia,71.045501,15.969753,7.581383,5.403363
Rhineland-Palatinate,68.678249,19.015983,8.931202,3.374566
Saarland,100.000000,0.000000,0.000000,0.000000
Saxony,76.392321,14.299672,7.293523,2.014484
Saxony-Anhalt,91.134323,7.191686,1.437276,0.236715
Schleswig-Holstein,85.730493,10.185302,3.390899,0.693306
Thuringia,76.851792,14.069715,7.010470,2.068024

In [116]:
df_pivot.to_csv("allstates.csv", index=True)